@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #99DBF5;
    font-family: 'Poppins', sans-serif;
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    height: 300px;
    margin: 35vh auto;
    align-items: center;
}

.current {
    font-size: 4rem;
}

button {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 0.5px 1px 0;
    cursor: pointer;
    background-color: #D2E9E9;
    margin: 0 5px;
}

#reset {
    width: 60px;
}